<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUpPage</title>
</head>
<body>
    <div id="SignUpForm">
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <br>
            <input type="password" name="password" placeholder="Password" required>
            <br>
            <input type="text" name="name" placeholder="Name" required>
            <br>
            <input type="submit" value="SignUp">
        </form>
    </div>
    <br>
    <div id="login">
        <a href="/login">Already have an account? Click here to sign in!</a>
    </div>
</body>
</html>